.footer-container {
  background: lightgrey;
  height: 50px;
  // text-align: center;
  font-weight: bold;
  text-align: left;
  padding-left: 2em;
  padding-right: 2em;
  // position: fixed;
  // top: 50%;
  // transform: translateY(-50%);
}

.footer-text {
  line-height: 50px;
  display: inline-block;
  color: white;
  text-decoration: none;
  // float: left;

}
.footer-email {
  display: inline-block;
  float: right;
}
