.header-container {
  margin: 1em 0 1em 0;
  padding-bottom: 1em;
  border-bottom: 1px solid black;
  // position: fixed;
}
.page-header {
  // text-align: center;

  a {
    padding: 1em;
    text-decoration: none;
    color: black;
  }
}

.mission-statement {
  display: inline-block;
  margin-left: 7em;
  font-weight: bold;
  // text-align: center;
}
.logo {
  // float: left;
  height: 3em;
  width: 4em;
  margin-left: 2em;
  vertical-align: middle;
}

.link-style {
  float: right;
  font-size: 1.2em;
}
