.homepage-body-container {
  // background: grey;
  border-top: 1px solid black;
  width: 90%;
  margin: auto;
  margin-bottom: 3em;
}

.homepage {
  margin-top: 2em;
  display: inline-block;
  width: 50%;
  text-align: center;
}
.homepage-text {
  @extend .homepage;
}
.homepage-img {
  @extend .homepage;
  border: 1px solid black;
  width: 49%;
  height: 100px;
  vertical-align: top;
}
