.homepage-body-container {
  // background: grey;
  border-top: 1px solid black;
  width: 90%;
  margin: auto;
  margin-bottom: 3em;
  margin-top: 2em;
  // height: 20em;
}

.homepage {
  margin-top: 2em;
  display: inline-block;
  width: 50%;
  text-align: center;
  vertical-align: middle;
}
.homepage-text {
  @extend .homepage;
  line-height: 1.5em;
  position: relative;
  top: 25%;
  font-size: 1.1em;
  // font-weight: bold;
  // transform: translateY(25%);
  // vertical-align: middle;
}
.homepage-img {
  @extend .homepage;
  border: 1px solid black;
  width: 42.7%;
  margin-left: 7%;
  height: 300px;
  // vertical-align: top;
}
// .homepage-img-final {
//   @extend .homepage-img;
//   margin-bottom: 7em;
// }
.homepage-img-reverse {
  @extend .homepage;
  border: 1px solid black;
  width: 42.7%;
  margin-right: 7%;
  height: 300px;
  vertical-align: top;
}

.office-img {
  width: 100%;
  height: 100%;
}
.hours {
  padding: 2em 0 2em 0;
  text-align: center;
  border-bottom: 1px solid black;

}

@media screen and (max-width: 727px) {
    .homepage-text {
      width: auto;
    }
    .homepage-img {
      width: auto;
      margin-left: 0%;
    }
}
