.slider-container {
  margin: 0 auto;
  width: 80%;
  color: #333;
}
.slick-arrow {
  display: none !important;
}
.slide {
  height: 400px;
}

.slide-tile {
  display: inline-block !important;
  width: 33%;
  height: 100%;
}
.slide-tile2 {
  display: inline-block !important;
  width: 50%;
  height: 100%;
}
.slide:nth-of-type(2) {
  background: lightblue;
}
.slide:nth-of-type(3) {
  background: green;
}
.slide:nth-of-type(4) {
  background: yellow;
}
.slide:nth-of-type(5) {
  background: purple;
}
.slide:nth-of-type(6) {
  background: grey;
}
.slide:nth-of-type(7) {
  background: pink;
}
