.webmaster-container {
  width: 90%;
}

.webmaster-img {
  height: 20em;
}

.webmaster-text {
  display: inline-block;

}
.webmaster-paragraph {
  display: inline-block;
  font-size: 1.5em;
  font-weight: bold;
}
